@{
    ViewBag.Title = "Water Meter Details";
}

<div class="push-down">
    <h2>Water Meter Details</h2>
</div>

<hr />

<div class="containment">
    <dl class="dl-horizontal common-font caption">
        <dt class="bold">Meter ID:</dt>
        <dd>@ViewBag.WaterMeterID</dd>
        <dt>Water Meter #:</dt>
        <dd>@ViewBag.MeterNumber</dd>
        <dt>Make:</dt>
        <dd>@ViewBag.Make</dd>
        <dt>Model:</dt>
        <dd>@ViewBag.Model</dd>
        <dt>Meter Size:</dt>
        <dd>@ViewBag.MeterSize</dd>
        <dt>Date Last Update:</dt>
        <dd>@ViewBag.DateLastUpdate</dd>
        <dt>Counter Value:</dt>
        <dd>@ViewBag.CounterValue</dd>
    </dl>
</div>

<p class="text-center">
    @Html.ActionLink("Edit/Update Water Meter Information", "Edit",
                     new { id = @ViewBag.WaterMeterID }, 
                     htmlAttributes: new { @class = "water-nav" }) <span style="color: aquamarine">::</span>
    @Html.ActionLink("Water Meters", "Index",
                     null, new { @class = "water-nav" })
</p>