
@{
    ViewBag.Title = "Water Bills Payments";
}

<div class="push-down">
    <h2 class="common-font bold text-center">Water Bills Payments</h2>
</div>

<hr />

<table class="table table-striped common-font">
    <tr>
        <th class="bold">Payment ID</th>
        <th class="bold">Receipt #</th>
        <th class="bold">Water Bill ID</th>
        <th class="bold">Payment Date</th>
        <th class="bold">Payment Amount</th>
        <th>@Html.ActionLink("New Bill Payment", "Create", null, htmlAttributes: new { @class = "water-nav" })</th>
    </tr>

    @if (ViewBag.Payments != null)
    {
        foreach (System.Xml.XmlNode payment in ViewBag.Payments as System.Xml.XmlNodeList)
        {
    <tr>
        <td>@payment.FirstChild.InnerText</td>
        <td>@payment.FirstChild.NextSibling.InnerText</td>
        <td>@payment.FirstChild.NextSibling.NextSibling.InnerText</td>
        <td>@payment.FirstChild.NextSibling.NextSibling.NextSibling.InnerText</td>
        <td>@payment.FirstChild.NextSibling.NextSibling.NextSibling.NextSibling.InnerText</td>
        <td>
            @Html.ActionLink("Update", "Edit", new { id = @payment.FirstChild.InnerText }) |
            @Html.ActionLink("Review", "Details", new { id = @payment.FirstChild.InnerText }) |
            @Html.ActionLink("Remove", "Delete", new { id = @payment.FirstChild.InnerText })
        </td>
    </tr>
        }
    }
</table>
