
@{
    ViewBag.Title = "Edit/Update Customer Details";
}

<div class="push-down">
    <h2>Edit/Update Customer Details</h2>
</div>
<hr />
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4 caption">Acount ID:</label>
            <div class="col-md-8">
                @Html.TextBox("AccountID", ViewBag.AccountID as string, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            <label for="acntNbr" class="control-label col-md-4 caption">Account #:</label>
            <div class="col-md-8">
                @Html.TextBox("AccountNumber", ViewBag.AccountNumber as string, htmlAttributes: new { @class = "form-control", id = "acntNbr" })
            </div>
        </div>

        <div class="form-group">
            <label for="mtrNbr" class="control-label col-md-4 caption">Meter #:</label>
            <div class="col-md-8">
                @Html.TextBox("MeterNumber", ViewBag.MeterNumber as string, htmlAttributes: new { @class = "form-control", id = "mtrNbr" })
            </div>
        </div>

        <div class="form-group">
            <label for="fname" class="control-label col-md-4 caption">First Name:</label>
            <div class="col-md-8">
                @Html.TextBox("FirstName", ViewBag.FirstName as string, htmlAttributes: new { @class = "form-control", id = "fname" })
            </div>
        </div>

        <div class="form-group">
            <label for="lname" class="control-label col-md-4 caption">Last Name:</label>
            <div class="col-md-8">
                @Html.TextBox("LastName", ViewBag.LastName as string, htmlAttributes: new { @class = "form-control", id = "lname" })
            </div>
        </div>

        <div class="form-group">
            <label for="adrs" class="control-label col-md-4 caption">Address:</label>
            <div class="col-md-8">
                @Html.TextBox("Address", ViewBag.Address as string, htmlAttributes: new { @class = "form-control", id = "adrs" })
            </div>
        </div>

        <div class="form-group">
            <label for="ct" class="control-label col-md-4 caption">City:</label>
            <div class="col-md-8">
                @Html.TextBox("City",
                    ViewBag.DateLastUpdate as string, htmlAttributes: new { @class = "form-control", id = "ct" })
            </div>
        </div>

        <div class="form-group">
            <label for="county" class="control-label col-md-4 caption">County:</label>
            <div class="col-md-8">
                @Html.TextBox("County", ViewBag.CounterValue as string, htmlAttributes: new { @class = "form-control", id = "county" })
            </div>
        </div>

        <div class="form-group">
            <label for="state" class="control-label col-md-4 caption">State:</label>
            <div class="col-md-8">
                @Html.TextBox("State", ViewBag.CounterValue as string, htmlAttributes: new { @class = "form-control", id = "state" })
            </div>
        </div>

        <div class="form-group">
            <label for="zip" class="control-label col-md-4 caption">ZIP-Code:</label>
            <div class="col-md-8">
                @Html.TextBox("ZIPCode", ViewBag.CounterValue as string, htmlAttributes: new { @class = "form-control", id = "zip" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5">
                @Html.ActionLink("Customers Accounts", "Index", null, htmlAttributes: new { @class = "water-nav" })
            </label>
            <div class="col-md-7">
                <input type="submit" value="Update Customer Details" class="btn btn-primary" />
            </div>
        </div>
    </div>
}